*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: turquoise;
}

/* menu */
.logo{
    height: 20px;
}

nav{
    background: #333;
    margin: 10px;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
    text-align: center;
}

nav a:hover{
    background: #555;
}

nav ul{
    display: flex;
}

nav li{
    border: 1px solid #fff;
    flex:1 1 0;
}
/* ~menu */

/* content */
.Experience, .Education{
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    margin-top: 70px;
}

.heading{
    text-align: center;
    font-size: 25px;
}

.small{
    font-size: 12px;
}

.main li{
    border: none;
    padding: 10px;
}
/* ~content */

/* flexbox */
.main{
    display: flex;
    justify-content: space-evenly;
}
/* ~flexbox */